feedparser
beautifulsoup4
requests
pandas
python-dateutil
pyarrow
tqdm
python-dotenv
neo4j
networkx
python-louvain
psycopg2-binary
ollama
jsonschema
pydantic
fastapi
uvicorn
streamlit
PyDrive2
sqlalchemy
schedule
chromadb
sentence-transformers
hdbscan
rapidfuzz
scikit-learn
